## Map function in python
Map function is used to apply a function on all the items in an input iterable objects.

Syntax: map(function, iterable, ...)

function -> It is a function to which map passes each element of given iterable.

iterable -> It is a iterable which is to be mapped.

It will return a map object which can be converted to list, set, tuple etc.

In [9]:
# Example1:
def f(x):
    return x**2

do_square = [1,2,3,4,5]

result = map(f, do_square)

print(type(result))
# print(list(result))

<class 'map'>

In [11]:
print(list(result))

[1, 4, 9, 16, 25]

map function with lambda function

In [12]:
# let's consider a list 
# li = [1,2,3,4,5,6,7,8,9,10]
# and we want to double the even numbers and triple the odd numbers
li = [1,2,3,4,5,6,7,8,9,10]
# new_list = [lambda args = a : args * 2 if args % 2 == 0 else args * 3 for a in li]
# new_list = [lambda argum = a : argum * 2 if argum%2==0 else argum*3 for a in li]

new_list = list(map(lambda a : a*2 if a%2==0 else a*3, li))
new_list

[3, 4, 9, 8, 15, 12, 21, 16, 27, 20]

In [13]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

# sum -> 5, 7, 9

# result = map(lambda x, y : x+y, numbers1, numbers2)

result = map(lambda x, y : x+y, numbers1, numbers2)

print(list(result))

[5, 7, 9]

map can listify the list of string into integers.

In [15]:
st = list('adam')
st

['a', 'd', 'a', 'm']

In [16]:
names = ['adam', 'joe', 'jane']

#  output = [['a', 'd', 'a', 'm'], ['j', 'o', 'e'], ['j', 'a', 'n', 'e']]

listified_names = list(map(list, names))
print(listified_names)

[['a', 'd', 'a', 'm'], ['j', 'o', 'e'], ['j', 'a', 'n', 'e']]

In [17]:
first_names = ['adam', 'joe', 'jane']
second_names = ['smith', 'abc', 'xyz']

full_names = list(map(lambda x, y : x + ' ' + y, first_names, second_names))
print(full_names)

['adam smith', 'joe abc', 'jane xyz']

In [18]:
def add_string(x,y):
    return x+' '+y

first = ['adam', 'joe', 'jane']
second = ['smith', 'abc', 'xyz']

full = list(map(add_string, first, second))

print(full)

['adam smith', 'joe abc', 'jane xyz']